nav.nav-bar{
    display: flex;
}
.nav-tabs{
    display: flex;
    justify-content: space-evenly;
}
ul.nav-tabs{
    border-bottom: none;
}
a.nav-link{
    color: #e0e1ddff;
    font-family: 'Heebo', sans-serif;
    font-size: 20px;
    font-weight:500;
}
a.nav-link:hover{
    color: #415A77;
}

