.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div.card{
    border: none;
    margin: 1rem;
    text-align: center;
    background-color: #415A77;


}
.card a{
    text-decoration: none;
    font-size: 25px;
    font-family: 'Heebo', sans-serif;
    color: #E0E1DD;

}
.card a:hover{
    color: #0D1B2A;

}
.img{
    width: 100%;
}
